/* CSS declarations go here */

.top-margin{
	margin-top:50px;
}

#viewer_iframe{
	border:1px solid gray;
	resize:both;
	width:100%;
}

.username {
	color: #128ee9;
}

.date {
	color: #616161;
	font-size: 10px;
	font-style: italic;
}
